<html>
<body>

<p>
March 2017
</p>

<a href="/static/foot/2017-03-23/AP_foot.jpg">
  <img src="/static/foot/2017-03-23/AP_foot.jpg" width="400" height="500"/>
</a>
<a href="/static/foot/2017-03-23/LAT_foot.jpg">
  <img src="/static/foot/2017-03-23/LAT_foot.jpg" width="500" height="400"/>
</a>
<a href="/static/foot/2017-03-23/Oblique_foot.jpg">
  <img src="/static/foot/2017-03-23/Oblique_foot.jpg" width="400" height="500"/>
</a>

<p>
May 2021
</p>

<a href="/static/foot/2021-05-19/AP_foot.jpg">
  <img src="/static/foot/2021-05-19/AP_foot.jpg" width="250" height="500"/>
</a>
<a href="/static/foot/2021-05-19/LAT_foot.jpg">
  <img src="/static/foot/2021-05-19/LAT_foot.jpg" width="500" height="400"/>
</a>
<a href="/static/foot/2021-05-19/Oblique_foot.jpg">
  <img src="/static/foot/2021-05-19/Oblique_foot.jpg" width="250" height="500"/>
</a>


<p>
April 2022
<br>
In April 2022, I had a standing CT scan done at San Mateo Podiatry using a CurveBeam device.<br>
There is a composite image which shows a bone spur set back from the
joint, and, according to the doctor and radiologist, okay joint space
and healthy sesamoids.
<br>
There is also a complete zip of the output.  I personally do not know how to read it.
<a href="/static/foot/2022-04-14/CT.zip">The zip file is available here.</a>
<p>

<a href="/static/foot/2022-04-14/composite.jpg">
  <img src="/static/foot/2022-04-14/composite.jpg">
</a>

<p>
April 2023
</p>

<a href="/static/foot/2023-04-28/AP_foot.jpg">
  <img src="/static/foot/2023-04-28/AP_foot.jpg" width="250" height="500"/>
</a>
<a href="/static/foot/2023-04-28/LAT_foot.jpg">
  <img src="/static/foot/2023-04-28/LAT_foot.jpg" width="500" height="400"/>
</a>
<a href="/static/foot/2023-04-28/Oblique_foot.jpg">
  <img src="/static/foot/2023-04-28/Oblique_foot.jpg" width="250" height="500"/>
</a>



</body>
</html>

