<html>
<body>

<p>
November 2017
</p>

<img src="/static/2017-11-17/2017-11-17_pelvis.jpg" width="400" height="400"/>
<img src="/static/2017-11-17/2017-11-17_x-table_lat_hip_left.jpg" width="450" height="250"/>
<img src="/static/2017-11-17/2017-11-17_x-table_lat_hip_right.jpg" width="600" height="250"/>

<p>
January 2018
</p>

<img src="/static/2018-01-26/2018-01-26_pelvis_1.jpg" width="400" height="400"/>
<img src="/static/2018-01-26/2018-01-26_pelvis_2.jpg" width="400" height="400"/>
<img src="/static/2018-01-26/2018-01-26_x-table_lat_hip_left.jpg" width="420" height="250"/>
<img src="/static/2018-01-26/2018-01-26_x-table_lat_hip_right.jpg" width="420" height="250"/>

<p>
October 2018
</p>

<img src="/static/2018-10-26/2018-10-26_front.jpg" width="400" height="400"/>
<img src="/static/2018-10-26/2018-10-26_x-table_left.jpg" width="350" height="250"/>
<img src="/static/2018-10-26/2018-10-26_x-table_right.jpg" width="430" height="250"/>

<p>
May 2019
</p>

<img src="/static/2019-05-03/2019-05-03_front.jpg" width="400" height="400"/>
<img src="/static/2019-05-03/2019-05-03_x-table_lat_hip_left.jpg" width="425" height="250"/>
<img src="/static/2019-05-03/2019-05-03_x-table_lat_hip_right.jpg" width="500" height="250"/>

<p>
August 2019
</p>

<img src="/static/2019-08-16/2019-08-16_front.jpg" width="400" height="400"/>
<img src="/static/2019-08-16/2019-08-16_x-table_left.jpg" width="370" height="250"/>
<img src="/static/2019-08-16/2019-08-16_x-table_right.jpg" width="400" height="250"/>

<p>
February 2020
</p>

<img src="/static/2020-02-21/2020-02-21_front.jpg" width="400" height="400"/>
<img src="/static/2020-02-21/2020-02-21_x-table_left.jpg" width="490" height="250"/>
<img src="/static/2020-02-21/2020-02-21_x-table_right.jpg" width="450" height="250"/>


</body>
</html>
