<html>
<body>
<p>
Hi!  If you've come here, you're here for one of two reasons.  Magic:
the Gathering or Factorio.  So let's get right to it.
</p>
<h1>Lantern Control</h1>
<p>
By far my favorite deck to play is
<a href=https://www.mtggoldfish.com/player/AngledLuffa>Lantern Control</a>.
</p><p>
For a while it was toast after the Opal ban.  But then, along comes 
<a href=https://gatherer.wizards.com/Pages/Card/Details.aspx?multiverseid=522335>Urza's Saga</a>
to restore Lantern to its previous glory.  This card is amazing.
Prints 2 giant blockers and tutors whichever lock piece you are
currently missing.</p><p>
Since late June 2021 people are jamming multiple Blood Moons,
Shattering Sprees, etc into their sideboards to combat the artifact
decks.  It's still viable.  BG seems like it might be the tightest
play, although some people have been having success with UB or Esper.
Recently I've tried a UB list with modern staple
<a href=https://gatherer.wizards.com/Pages/Card/Details.aspx?multiverseid=476459>Ashiok, Nightmare Muse</a>
as the catchall for Stony, Leyline, etc.  Note that it is unnecessary
to list KGC in the things that need answers, since Urza's Saga just
punches KGC in his smug face.  Assuming, of course, you aren't packing
your own KGC - personally I think it works very well, especially as a
hard answer to opposing artifact decks, but opinions are clearly varied.
</p>
<h2>Past notes from when Phoenix was the new hotness</h2>
<p>
Unfortunately, it's gotta a LOT worse in the last few weeks.  At GP
Toronto and GP Tampa it was a great choice.  Just a couple weeks later
at Calgary it was already significantly weaker.
</p><p>
The main issue is that Izzet Phoenix evolved.  They used to be: play
creatures, hope those creatures won.  
<a href=https://gatherer.wizards.com/Pages/Card/Details.aspx?multiverseid=442213>Bridge</a>
laughed at that strategy, so the match was almost a bye.  Unfotunately, they now maindeck
<a href=https://gatherer.wizards.com/Pages/Card/Details.aspx?multiverseid=397706>Surgical<a>, 
so <a href=https://gatherer.wizards.com/Pages/Card/Details.aspx?multiverseid=438642>Thought Scour</a>,
Surgical Bridge is not an unusual thing to
happen.  They also sideboard several incredibly powerful answers such
as <a href=https://gatherer.wizards.com/Pages/Card/Details.aspx?multiverseid=430683>Shatterstorm</a>.  
Obviously this is what 
<a https://gatherer.wizards.com/Pages/Card/Details.aspx?multiverseid=438676>Thoughtseize</a> 
and the Lantern lock is for, but the number of cantrips they have,
especially when combined with Pyromancer's Ascension, makes it very
difficult for the Lantern lock to work.
</p><p>
The other problem with the meta is that the decks Lantern preys on the
most are all gone from the meta.  Who wants to play 
<a href=https://gatherer.wizards.com/Pages/Card/Details.aspx?multiverseid=456819>Bogles</a> 
when a flipped 
<a href=https://gatherer.wizards.com/Pages/Card/Details.aspx?multiverseid=409836>Thing</a> 
is unstoppable, and who wants to play Ad Naus
when a single Thoughtseize or Spell Pierce stops you for long enough
that you die.
</p><p>
Fortunately, there is hope on the horizon!  Specifically,
Karn, <del>the Great Colorless Hope</del> the Great Creator.  -2 to
get whatever sideboard piece stops your opponent's strategy (options
include Torpor Orb, Witchbane Orb, Damping Sphere... lots of big round
things) or -2 to get Lattice and just end the game.  I don't know if
this will work as I hope, but I haven't been this excited for any card
other than Assassin's Trophy.
</p>

<h2>War Update</h2>
<p>
  Okay, everything sucks.
</p><p>
  Stony Karn is pretty good on our side of the field.  I haven't found the exact configuration: find room for Baubles, 3 or 4 Bridges main, 0 or 1 Blast Zone, etc.
</p><p>
  However, that just pales in comparison to how bad Karn is on the other side of the field.  Tron went from even after the addition of Trophy (49-47 online or in GPs during GRN and RNA) to completely unwinnable once they added Karn and Blast Zone.  UW got worse as lots of them have added Blast Zone as well.  Humans is awful and Pyro Prison is unwinnable with the addition of Karn.
</p><p>
  About the only hope is wait a little longer for the new changes to completely squelch the artifact decks.  Whir Prison is dying out as well.  Maybe once people stop bringing Shatterstorm to go with all the other ridiculous levels of hate there will be some room in the meta for an artifact prison deck to steal a few rounds.
</p><p>
  Maybe Modern Horizons completely changes everything, anyway.
</p>

<h2>Modern Horizons update</h2>

<p>
Wow, so much has happened since MH1 dropped.  Obviously <a href=https://gatherer.wizards.com/Pages/Card/Details.aspx?multiverseid=464151>the Gaak</a> showed up and dominated until Wizards finally admitted they had ruined everything and banned him.
</p><p>

Being a stubborn jerk, I took Mox Opal decks to 2 GPs anyway.  I tried Hogaak and hated playing the deck.  Instead, I
found a build of Lantern which used the <i>other</i> combo card from
Modern Horizons,
<a href=https://gatherer.wizards.com/Pages/Card/Details.aspx?multiverseid=464024>Urza</a>,
to shore up some of its weaker matches.  For example, nice
KGC... shame if a giant Urza token punched it to death.  So I took
this to MN.  Unfortunately, I played like total poop.  As a general
example, my final play of the day was to scoop when my opponent played
Lattice with KGC on the field, since I didn't have the right lands to
cast Trophy.  Completely forgetting that there's no such thing as "the
right lands" once the Lattice resolves.  Well, at least my daughter
enjoyed miniHAHA playground.
</p><p>
I then took Cheerios to Las Vegas, and it mostly lost to itself when it lost.  Typical of the deck, really.  Fun when it goes off, though.  I had one opponent try to stop my with one mountain in play and no other lands in hand with <a href=https://gatherer.wizards.com/Pages/Card/Details.aspx?multiverseid=464083>Lava Dart</a>.  A bolt move (should be bold, but I'm leaving it), but unfortunately for them I had a second bear.  When it fizzled, though, it fizzled <i>hard</i>.
</p><p>
Speaking with some friends, we decided that <a href=https://gatherer.wizards.com/pages/Card/Details.aspx?multiverseid=442192>Eladamri's Call</a> might be worth testing in place of the spicy tech I had brought, <a href=https://gatherer.wizards.com/Pages/Card/Details.aspx?multiverseid=464062>Unearth</a>.
</p><p>
Anyway, I still think there might be something there with Lantern.  Blood Moon decks are less common now, which makes Whir more tempting, and Urza slots in nicely in a blue build of Lantern.  Sometimes it's not about milling 60 cards, but rather just stalling until you put together thopter/sword and go off.  Whir also allows for some sick bluffs.  Whir for 3 before combat so your opponent thinks you're getting a Bridge, for example, and instead slam a Needle and name their entire fetchland manabase.  (Then pray to Elsik that you draw a Bridge soon, of course.)
</p>

<h2>Post Opal update</h2>

<p>
RIP my favorite deck ever
</p><p>
Mox Tantalite is garbage.  If it were suspend 2, it would come down on
t3 and let you play Bridge.  As it is, it is useless.  The worst is if
you Ancient Stirrings and see one.
</p><p>
Pentad Prism isn't quite good enough either, although it's not awful.
</p><p> 
Perhaps a BG version with enough basics and Collective Brutality can
play a Bridge early enough and get down to hand size without being
plowed over?  Will have to experiment.
</p>

<h1>Factorio</h1>
<p>
My favorite video game ever.  Possibly rivals MtG in terms of how much
I play it.  Have built a couple small factories with friends and one
megabase which has evolved quite a bit over the time I've played it.
</p><p>
I'm working on a script which convert images into blueprints of lamps.
Many many thousands of lamps.
<a href=/factorio_lamps>Here is a prototype</a>.
</p><p>
Possibly more useful is the update I made to
<a href=https://mods.factorio.com/mod/BitersBegoneUpdated>Biters Begone!</a>,
a mod which does exactly what it says on the label.  Originally written by
<a href=https://mods.factorio.com/user/dustine>Dustine</a>, who said
she is no longer able to maintain it due to time constraints.

<h1>HAI</h1>
<p>
Recently Stanford's HAI group replaced all the clip art of people
smiling while "doing AI" with
<a href=https://hai.stanford.edu/people/Fellows>actual descriptions of
the people working there</a>.  To be entirely honest, the other guy
with my job title has a pretty intimidating resume.  I need to step up
my game.  Update: he left to be a VP at Samsung.  Oh well.
</p><p>
So far I have worked on a project to detect
<a href=https://en.wikipedia.org/wiki/Schistosomiasis>snail habitat in
Senegal</a>, reimplemented
<a href=https://arxiv.org/pdf/1408.5882.pdf>CNNs for sentence
classification</a> in a general way for Stanford NLP, and did a bunch
of random tasks for the next release of CoreNLP.  I also added some
new features and worked on some debugging in relation to a virus
information extraction project using CoreNLP + Stanza.
</p><p>
While working specifically for the NLP group through HAI, we published
a paper on NER in non-American English (link coming) and won the 2022
VLSP Vietnamese Constituency Parsing bakeoff (also link coming).
So, I haven't been a completely useless dick during my time at HAI.
</p>

<h1>Hips</h1>
<p>
I like running, but I also like eating ice cream, so I'm not super
fast or anything.  I just like going for long distances.
</p><p>
My left hip was operated on by Dr. Emblom at Andrews Sports Medicine
in 2016.  Torn labrum and FAI repair.  Turns out that research which
came out around the same time as my surgery showed that Naproxen is
safe while recovering from this surgery and helps reduce the odds of
getting HO, but since that research wasn't available at the time, I
was not told to take Naproxen.  Followup HO removal done at Stanford
by Dr. Bellino.  Feels great four years later.
</p><p> 
My right hip is not great.  A large bone spur on my right hip was
removed as part of the 2016 surgery.  It has since fully regrown.
Can't bend more than 90 degrees, randomly occasionally hurts for a few
hours or a few days.  Weirdly it's not strongly correlated with
running, although climbing up ladders definitely triggers it.  Biking
may be a trigger.
</p><p> 
I knew I was first in trouble when I got the surgical reports
from Alabama.  Left side can be summarized as "We fixed his labrum and
didn't leave any tools inside him".  Right side was four pages
detailing every second of the operation.  Don't worry... I'm not the
type to file frivolous malpractice claims.  I <b>really</b> knew I was
in trouble when a set of x-rays at Stanford when I was 39 came back
with the annotation: "Patient is an 89 year old male".  Welp.
</p><p>
The <a href="hips.html">February images from 2021</a> show that the
right side is more and more "ouchie", as per my 4 year old daughter.
(At least my hips worked well enough to have a 4 year old daughter and
a 3 year old son.)
</p><p>
In November 2021, my regular ortho Dr. Bellino told me he is moving to
Hawai'i.  Best of luck, will definitely miss his advice.  Although he
personally does not like hip resurfacing, he did recommend a former
colleague in Ottawa who does resurfacing.  He also referred me to a
colleague at Stanford for possibly removing the bone spurs on the
front of my hip, but she was fairly certain it would not be beneficial
long term.
</p>

<h1>Skating</h1>

Obviously I can't say much about my own skating, given my hip difficulty.

However, my kids have both taken up skating, both figure skating and
tiny tots hockey.  Here is my daughter, #12, <a href="static/2023-10-28_logan_hockey.mp4">failing to take the body
and letting someone skate past her</a>.  SMDH my damn head.

</body>
</html>
