<html>
<body>
<p>
Hi!  If you've come here, you're here for one of two reasons.  Magic:
the Gathering or Factorio.  So let's get right to it.
</p>
<h1>Lantern Control</h1>
<p>
By far my favorite deck to play is
<a href=https://www.mtggoldfish.com/player/AngledLuffa>Lantern Control</a>.
</p><p>
Unfortunately, it's gotta a LOT worse in the last few weeks.  At GP
Toronto and GP Tampa it was a great choice.  Just a couple weeks later
at Calgary it was already significantly weaker.
</p><p>
The main issue is that Izzet Phoenix evolved.  They used to be: play
creatures, hope those creatures won.  
<a href=https://gatherer.wizards.com/Pages/Card/Details.aspx?multiverseid=442213>Bridge</a>
laughed at that strategy, so the match was almost a bye.  Unfotunately, they now maindeck
<a href=https://gatherer.wizards.com/Pages/Card/Details.aspx?multiverseid=397706>Surgical<a>, 
so <a href=https://gatherer.wizards.com/Pages/Card/Details.aspx?multiverseid=438642>Thought Scour</a>,
Surgical Bridge is not an unusual thing to
happen.  They also sideboard several incredibly powerful answers such
as <a href=https://gatherer.wizards.com/Pages/Card/Details.aspx?multiverseid=430683>Shatterstorm</a>.  
Obviously this is what 
<a https://gatherer.wizards.com/Pages/Card/Details.aspx?multiverseid=438676>Thoughtseize</a> 
and the Lantern lock is for, but the number of cantrips they have,
especially when combined with Pyromancer's Ascension, makes it very
difficult for the Lantern lock to work.
</p><p>
The other problem with the meta is that the decks Lantern preys on the
most are all gone from the meta.  Who wants to play 
<a href=https://gatherer.wizards.com/Pages/Card/Details.aspx?multiverseid=456819>Bogles</a> 
when a flipped 
<a href=https://gatherer.wizards.com/Pages/Card/Details.aspx?multiverseid=409836>Thing</a> 
is unstoppable, and who wants to play Ad Naus
when a single Thoughtseize or Spell Pierce stops you for long enough
that you die.
</p><p>
Fortunately, there is hope on the horizon!  Specifically,
Karn, <del>the Great Colorless Hope</del> the Great Creator.  -2 to
get whatever sideboard piece stops your opponent's strategy (options
include Torpor Orb, Witchbane Orb, Damping Sphere... lots of big round
things) or -2 to get Lattice and just end the game.  I don't know if
this will work as I hope, but I haven't been this excited for any card
other than Assassin's Trophy.
</p>

<h2>War Update</h2>
<p>
  Okay, everything sucks.
</p><p>
  Stony Karn is pretty good on our side of the field.  I haven't found the exact configuration: find room for Baubles, 3 or 4 Bridges main, 0 or 1 Blast Zone, etc.
</p><p>
  However, that just pales in comparison to how bad Karn is on the other side of the field.  Tron went from even after the addition of Trophy (49-47 online or in GPs during GRN and RNA) to completely unwinnable once they added Karn and Blast Zone.  UW got worse as lots of them have added Blast Zone as well.  Humans is awful and Pyro Prison is unwinnable with the addition of Karn.
</p><p>
  About the only hope is wait a little longer for the new changes to completely squelch the artifact decks.  Whir Prison is dying out as well.  Maybe once people stop bringing Shatterstorm to go with all the other ridiculous levels of hate there will be some room in the meta for an artifact prison deck to steal a few rounds.
</p><p>
  Maybe Modern Horizons completely changes everything, anyway.
</p>

<h1>Factorio</h1>
<p>
My favorite video game ever.  Possibly rivals MtG in terms of how much
I play it.  Have built a couple small factories with friends and one
megabase which has evolved quite a bit over the time I've played it.
</p><p>
I'm working on a script which convert images into blueprints of lamps.
Many many thousands of lamps.
<a href=/factorio_lamps>Here is a prototype</a>.
</p><p>
Possibly more useful is the update I made to
<a href=https://mods.factorio.com/mod/BitersBegoneUpdated>Biters Begone!</a>,
a mod which does exactly what it says on the label.  Originally written by
<a href=https://mods.factorio.com/user/dustine>Dustine</a>, who said
she is no longer able to maintain it due to time constraints.
</body>
</html>

