<!doctype html>
<h1>Upload Image</h1>
<style type="text/css">
    .fieldset-auto-width {
         display: inline-block;
    }
</style>

{% if error %}
  {{ error }}
{% endif %}

<form method=post enctype=multipart/form-data>
  <input type=file name=file>
<br>
<div><fieldset class="fieldset-auto-width">
  <legend>Size Options</legend>
  <input type=radio name=resize value=lamps> Fixed number of lamps:
  <input type=number name=lamps style="width: 7em" value=5000>
<br>
  <input type=radio name=resize value=size> Specify width and height:
  <input type=number name=width style="width: 7em" value=90> x
  <input type=number name=height style="width: 7em" value=60>
<br>
  <input type=radio name=resize value=default checked> Default scaling
<br>
  <input type=radio name=resize value=none> No resizing (warning: likely to be huge!)
</fieldset></div>

<br>

<div><fieldset class="fieldset-auto-width">
  <legend>Color Options</legend>
  <input type=radio name=color value=base checked>Base colors
  <input type=checkbox name=base_black value=true checked>Use unlit lamps for black
  <br>
  <input type=radio name=color value=expanded><a href="https://mods.factorio.com/mod/Expanded_Color_Lamps">Expanded Color Lamps</a><br>
  <input type=radio name=color value=dectorio><a href="https://mods.factorio.com/mod/Dectorio">Dectorio</a><br>
</fieldset></div>
<br>
<div><fieldset class="fieldset-auto-width">
  <legend>Color Reduction Method</legend>
  <input type=radio name=method value=kmeans checked>KMeans<br>
  <input type=radio name=method value=nearest>Nearest color match<br>
</fieldset></div>

<br>
  <input type=submit value=Upload>
<br>
</form>

{% if preview %}
  <h2>Preview</h2>
  <img src="data:image/png;base64,{{ preview }}" alt="preview.png">
{% endif %}

{% if bp %}
  <h2>Blueprint</h2>
  <textarea rows="10" cols="50" readonly id="blueprint">{{ bp }}</textarea>
<br>
  <button onclick="myFunction()">Copy blueprint to clipboard</button>

<script>
function myFunction() {
  var copyText = document.getElementById("blueprint");
  copyText.select();
  document.execCommand("copy");
}
</script>

{% endif %}

{% if stats %}
<h2>Item quantities</h2>
<table>
  {% for object, quantity in sorted(stats.items()) %}
  <tr><td>{{ object }}</td><td>{{ quantity }}</td></tr>
  {% endfor %}
</table>
{% endif %}
