<!doctype html>
<h1>Upload Image</h1>
<style type="text/css">
    .fieldset-auto-width {
         display: inline-block;
    }
</style>

{% if error %}
  {{ error }}
  <br>
{% endif %}

<script>
function checkElement(element) {
  document.getElementById(element).checked = true;
}
</script>

<form method=post enctype=multipart/form-data>
<div><fieldset class="fieldset-auto-width">
  <legend>Size Options</legend>
  <label><input type=radio name=resize value=lamps id="resize_lamps"
  {% if 'lamps' == resize %}checked{% endif %}>Fixed number of lamps:
  <input type=number name=lamps style="width: 7em" onclick=checkElement("resize_lamps")
   value={% if num_lamps %}{{num_lamps}}{% else %}5000{% endif %}></label>
<br>
  <label><input type=radio name=resize value=size id="resize_size"
  {% if 'size' == resize %}checked{% endif %}>Specify width and height:
  <input type=number name=width style="width: 7em" onclick=checkElement("resize_size")
   value={% if width %}{{width}}{% else %}90{% endif %}> x
  <input type=number name=height style="width: 7em" onclick=checkElement("resize_size")
   value={% if height %}{{height}}{% else %}60{% endif %}></label>
<br>
  <label><input type=radio name=resize value=default 
  {% if not resize or resize == 'default' %} 
    checked
  {% endif %}>Default scaling</label>
<!-- The final conversion to blueprint via json makes a hashmap too large for memory
<br>
  <input type=radio name=resize value=none> No resizing (warning: likely to be huge!)
-->
</fieldset></div>

<br>

<div><fieldset class="fieldset-auto-width">
  <legend>Color Options</legend>
  <label><input type=radio name=colors value=base 
   {% if not colors or colors == 'base' %}checked{% endif %}>Base colors
  <input type=checkbox name=base_black value=True {% if not base_black is defined or base_black is sameas true %}checked{% endif %}>Use unlit lamps for black</label>
  <br>
  <label><input type=radio name=colors value=expanded
   {% if 'expanded' == colors %}checked{% endif %}><a href="https://mods.factorio.com/mod/Expanded_Color_Lamps">Expanded Color Lamps</a></label><br>
  <label><input type=radio name=colors value=dectorio
   {% if 'dectorio' == colors %}checked{% endif %}><a href="https://mods.factorio.com/mod/Dectorio">Dectorio</a></label><br>
</fieldset></div>
<br>
<div><fieldset class="fieldset-auto-width">
  <legend>Color Reduction Method</legend>
  <label><input type=radio name=method value=kmeans
   {% if not method or method == 'kmeans' %}checked{% endif %}>KMeans</label><br>
  <label><input type=radio name=method value=nearest
   {% if 'nearest' == method %}checked{% endif %}>Nearest color match</label><br>
</fieldset></div>

<br>
  <input type=file name=file>
<br><br>
  <button type="submit" name="image" value="upload">Upload</button>
<br>
{% if cache_filename %}
  <br>
  <button type="submit" name="image" value="cache">Reuse {{ cache_filename }}</button>
  <input type="hidden" name="cachedir" value="{{ cache_dir }}">
  <input type="hidden" name="cachefile" value="{{ cache_filename }}">
{% endif %}
</form>

{% if preview %}
  <h2>Preview</h2>
  <img src="data:image/png;base64,{{ preview }}" alt="preview.png">
{% endif %}

{% if bp %}
  <h2>Blueprint</h2>
  <textarea rows="10" cols="50" readonly id="blueprint">{{ bp }}</textarea>
<br>
  <button onclick="copyBlueprint()">Copy blueprint to clipboard</button>

<script>
function copyBlueprint() {
  var copyText = document.getElementById("blueprint");
  copyText.select();
  document.execCommand("copy");
}
</script>

{% endif %}

{% if stats %}
<h2>Item quantities</h2>
<table>
  {% for object, quantity in stats.items() %}
  <tr><td>{{ object }}</td><td>{{ quantity }}</td></tr>
  {% endfor %}
</table>
{% endif %}

<br><br><a href="about_factorio_lamps.html">About</a>
